/* Fuentes */
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #e6e6e6;
    color: #333;
    line-height: 1.6;
    overflow: hidden; /* Evita el desplazamiento mientras está ocurriendo la animación */
}

h1 {
    font-family: 'Montserrat', serif; /* Fuente elegante para los títulos */  
}


h1:hover {
    transform: scale(1.52); /* Escala la imagen a un 110% */
    transition: transform 0.82s ease-in-out; /* Añade una transición suave */
    cursor: default;
    font-family: 'Roboto';
}

p:hover {
    transform: scale(1.072); /* Escala la imagen a un 110% */
    transition: transform 0.32s ease-in-out; /* Añade una transición suave */
    cursor: default;
    color: rgb(211, 211, 211);
}


/* Barra de navegación */
.navbar {
    font-family: 'Montserrat', sans-serif;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    z-index: 1000;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
}

.navbar-logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}

.logo-img:hover {
    transform: scale(1.23); /* Escala la imagen a un 110% */
    transition: transform 0.3s ease-in-out; /* Añade una transición suave */
}


.navbar-links {
    display: flex;
    gap: 32px;
}

.navbar-links li {
    list-style: none;
}

.navbar-links a {
    text-decoration: none;
    color: rgb(192, 192, 192);
    font-size: 1.1em;
    font-weight: 500;
    transition: color 0.3s ease;
}

.navbar-links a:hover {
    color: #ffffff;
}

/* Ocultar el botón por defecto */
.navbar-toggle {
    display: none;
    background: none;
    border: none;
    cursor: pointer;
}

.navbar-toggle .toggle-icon {
    display: block;
    width: 25px;
    height: 3px;
    background-color: #fff;
    position: relative;
    transition: all 0.3s ease;
}

.navbar-toggle .toggle-icon::before,
.navbar-toggle .toggle-icon::after {
    content: '';
    width: 25px;
    height: 3px;
    background-color: #fff;
    position: absolute;
    left: 0;
    transition: all 0.3s ease;
}

.navbar-toggle .toggle-icon::before {
    top: -8px;
}

.navbar-toggle .toggle-icon::after {
    top: 8px;
}

/* Estilos para dispositivos móviles */
@media screen and (max-width: 768px) {
    .navbar-links {
        display: none; /* Ocultar menú por defecto */
        flex-direction: column;
        gap: 10px;
        background-color: #333;
        position: absolute;
        top: 80%;
        right: 0;
        left: 0;
        padding: 15px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }

    .navbar-links.show {
        display: flex; /* Mostrar el menú al activar */
    }

    .navbar-toggle {
        display: block; /* Mostrar el botón */
    }

}

/* Cabecera */
header {
    background: #2C2C2C;
    color: white;
    padding: 36px 0;
    text-align: center;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    margin-top: 80px;
}

header h1 {
    font-size: 4em;
    margin: 0;
    letter-spacing: 5px;
    text-transform: uppercase;
}

header p {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.4em;
    margin-top: 15px;

}

/* Estilo tarjeta para explorar productos */
.product-exploration {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 20px;

}

.product-exploration div:hover {
 cursor: default;
 background: #f7f6f4; 
 
}

.product-exploration div p:hover {
    color: #1d1d1d; 

   }

.product-card {
    display: flex;
    flex-direction: row;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 90%;
    max-width: 1200px;
    padding: 10px 20px;
}

/* Contenedor de la imagen */
.product-img {
    margin-top: 30px;
    width: 100%; /* Ocupa todo el ancho del contenedor */
    height: 350px; /* Fijamos la altura para mantener el tamaño constante */
    object-fit: cover; /* Asegura que la imagen se adapte al contenedor sin deformarse */
    object-position: center; /* Centra la imagen dentro de su contenedor */
    transition: opacity 0.46s ease-in-out;
    border-radius: 10px;
}


/* Contenedor del texto */
.product-info {
    font-family: 'Lora', serif;
    padding: 30px;
    width: 50%;
}

/* Estilos del texto */
.product-info h2 {
    font-size: 2.5em;
    color: #2C2C2C;
    margin-bottom: 10px;
}

.product-info h3 {
    font-size: 1.5em;
    color: #FF9F00;
    margin-bottom: 20px;
}

.product-info p {
    font-size: 1.2em;
    color: #666;
    margin-bottom: 20px;
}

.cta {
    background-color: #272727;
    color: white;
    padding: 15px 25px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 1.2em;
    display: inline-block;
}

.cta:hover {
    background-color: #5a5a5a;
}

/* Estilos Responsivos */
@media screen and (max-width: 768px) {
    .product-card {
        flex-direction: column;
    }

    .product-img {
        width: 100%;
        height: auto;
    }

    .product-info {
        padding: 20px;
        width: 100%;
    }


}

/* Estilo para la transición de desvanecimiento */
body {
    margin: 0;  /* Asegura que no haya márgenes no deseados */
}

/* Capa negra inicial que cubre toda la página */
#transition-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: black;
    z-index: 9999; /* Asegura que cubra todo el contenido */
    opacity: 1;
    pointer-events: none; /* Asegura que no bloquee la interacción de la página */
    transition: opacity 1s ease-out; /* Transición suave para desaparecer */
}

/* Una vez que se desvanece, la capa será invisible */
#transition-overlay.hidden {
    opacity: 0;
}

/* Estilos generales del footer */
footer {
    background-color: #333; /* Fondo oscuro */
    color: #fff; /* Color del texto */
    padding: 20px 0; /* Espaciado superior e inferior */
    text-align: center; /* Centra el texto y contenido dentro del footer */
}

/* Contenido del footer centrado */
.footer-content {
    max-width: 1200px; /* Limita el ancho máximo para mayor control */
    margin: 0 auto; /* Centra el contenido */
    padding: 0 20px; /* Añade espaciado a los lados */
}

.footer-content p:hover {
    transform: scale(1.1); /* Escala la imagen a un 110% */
    transition: transform 0.32s ease-in-out; /* Añade una transición suave */
    cursor: default;
}

/* Estilos para los enlaces sociales */
.social-links {
    margin-top: 10px; /* Espacio entre el texto y los enlaces */
}

.social-links a {
    color: #fff; /* Color blanco para los enlaces */
    margin: 0 10px; /* Espacio entre los enlaces */
    text-decoration: none; /* Elimina el subrayado */
    font-size: 16px; /* Tamaño de la fuente */
}

.social-links a:hover {
    color: #1e90ff; /* Cambia el color al pasar el mouse */
}

